<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance</title>
    </head>
    <body>
        {{> header}}
        <p>{{date}} : The site is currently offline</p>
        {{> footer}}
    </body>
</html>